h1{
    text-align: center;
    font-weight: normal;
    font-family: coda;
    border: outset 5px;
    margin-right:auto;
    margin-left: auto;
    padding: 10px;
}

.logo1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputs{
    display: block;
    text-align: center;
    font-family: coda;
    margin-left: auto;
    margin-right: auto;
    border: outset 8px;
    padding: 10px;
    color: #E50914;
}

button{
    font-family: coda;
}

.logo2{
    width: auto;
    height: 30px;
}